body{
    width: 838px;
    margin-left: 13px;
    background-color: rgb(1, 9, 1);
}
hr{
    width: 100%;
    border: 1px solid #333333
}
#header{
    width: 838px
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    border: 2px solid rgb(168, 170, 161);
    border-radius: 2rem;
    padding: 1px;
}
.nav-sub-container{
    display: flex;
    flex-direction: row;
}
#title{
    padding-left:4rem;
    padding-right: 4rem;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(45, 57, 26);
    border: none;
    border-radius: 2rem;
    color: white;
    font-size: 10px;
    font-weight: 700;
}
#contact{
    display: inline;
}
.menu-button{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 2rem;
    font-size: 10px;
    background-color: rgb(1, 9, 1);
    color: white;
    border: 1.5px solid white;
    cursor: pointer;
    font-weight: 700;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px; /* Adjust depending on your design */
    right: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.nav-menu:hover .dropdown-menu,#menu:focus + .dropdown-menu {
    display: block;
}
.nav-menu:hover .dropdown-menu,#menu:focus + .dropdown-menu{
    display: block;
} 
#menu {
    background-color: #555; /* Make the "menu" button look distinct */
  }
  #menu:focus {
    outline: none; /* Remove the outline on focus */
  }
.menu-button:hover{
    background-color: rgb(168, 170, 161);
    border-color: rgb(168, 170, 161);
    color: black;
}
#menu{
    display: none;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.container1{
    background-color: #DFD6C5;
    margin-top: 7px;
    padding:10px;
    width: 250px;
    height: 443px;
    border-radius: 1rem;
}
.container1 >h5{
    border-radius: 1rem;
    border: 1px solid #323025;
    color: #323025;
    width: 7.8rem;
    padding-left: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}
h1{
    color: #333333;
    font-size: 20px;
}
.img_con1{
    width: 250px;
    overflow: hidden;
}
.img_con1 > img{
    width: 250px;
    height: 325px;
}
.get-starter{
    display: flex;
    justify-content: space-between;
}
.get-starter p{
    margin-top: 3.3px;
    margin-bottom: 0;
    font-size: 12px;
}
.get-starter button{
    background-color: transparent;
    border: none;
    margin-top: 2px;
    cursor: pointer;
}
.container2{
    height: 443px;
    margin-left: 9px;
    margin-top: 7px;
    padding-top: 0px;
    width: 34.9rem;
}
.sub-container1{
    background-color:#8E886D;
    padding: 10px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.sub-container1 > div> div> div>h5{
    border-radius: 1rem;
    border: 1px solid #323025;
    color: #323025;
    width: 4.9rem;
    padding-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}
.sub-container1 > div> div> div>h1{
    color: #333333;
    font-size: 20px;
}
.sub-container1 > div> div> div>p{
    font-size: 7px;
}
.img-con2{
    margin-left: 28px;
}
.img-con2>img{
    width: 290px;
    height: 141px;
}
#container1-content{
    display: flex;
    width: 34rem;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
#container1-content > div{
    width: 226px;
}
.sub-container2{
    display: flex;
    flex-direction: row;
}
.sub1{
    background-color:#916E58;
    height: 14.6rem;
    padding: 10px;
    margin-top: 9px;
    border-radius: 1rem;
    width: 16rem;
}
.sub1>img{
    height: 100px;
    width: 100%;
}
#heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#heading h1{
    color: #2d1717;
    margin: 10px;
    font-size: 1.6rem;
    margin-left: 0;
}
#heading >div{
    display: flex;
}
.dot{
    width: 18px;
    border-radius: 1rem;
    height: 18px;
    margin-top: 15px;
    background-color: #2d1717;
}
.sub1 >p{
    font-size: 9px;
}
.sub2{
    background-color:#B1A48E;
    height: 14.6rem;
    padding: 10px;
    margin-top: 9px;
    border-radius: 1rem;
    width: 16rem;
    margin-left: 9px;
}
.sub2 >p{
    font-size: 9px;
}
.img-con3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-con3 h5{
    border-radius: 1rem;
    border: 1px solid #323025;
    color: #323025;
    width: 4.9rem;
    height: 13px;
    padding-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}
.img-con3 img{
    height: 50px;
}
.domain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.domain h5{
    margin: 0;
    font-size: 10px;
}
#one{
    margin-bottom: 0px;
}
#two{
    margin-top: 3px;
    margin-bottom: 0pc;
}
#third{
    margin-top: 20.9px;
}
@media (max-width: 350px){
    .nav-sub-container .menu-button {
        display: none;
    }
    #menu {
        display: block;
    }
    .dropdown-menu {
        position: absolute;
        top: 40px; /* Adjust depending on your design */
        right: 0;
        width: 7rem;
        height: 6.8rem;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      }
      .nav-menu:hover .dropdown-menu,
      #menu:focus + .dropdown-menu {
        display: block;
      }
      #menu {
        background-color: #555; /* Make the "menu" button look distinct */
      }
    body{
        width: 350px;
        margin-left: 6px;
    }
    #header{
        width: 350px;
    }
    .nav-container{
        width: 325px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-right: 10px;
        border: 2px solid rgb(168, 170, 161);
        border-radius: 2rem;
        padding: 1px;
    }
    #title{
        padding-left:2rem;
        padding-right: 2rem;
        padding-top: 5px;
        padding-bottom: 7px;
        background-color: rgb(45, 57, 26);
        border: none;
        border-radius: 2rem;
        color: white;
        font-size: 10px;
        font-weight: 700;
    }
    .menu-btn{
        width: 100%;
        background-color: transparent;
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid gray;
    }
    .menu-btn:hover{
        cursor: pointer;
        background-color: rgb(168, 170, 161);
        border-color: rgb(168, 170, 161);
        color: black;
    }
    .menu-button{
        display: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        border-radius: 2rem;
        font-size: 10px;
        background-color: rgb(1, 9, 1);
        color: white;
        border: 1.5px solid white;
        cursor: pointer;
        font-weight: 700;
    }
    .menu-button:hover{
        background-color: rgb(168, 170, 161);
        border-color: rgb(168, 170, 161);
        color: black;
    }
    #menu{
        display: inline;
    }
    #contact{
        display:none;
    }
    #dropdown *{
        display: block;
    }
    .container{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }
    .container1{
        background-color: #DFD6C5;
        margin-top: 7px;
        padding:10px;
        width: 315px;
        height: 443px;
        border-radius: 1rem;
    }
    .img_con1{
        width: 315px;
        overflow: hidden;
        border-radius: 10px;
    }
    .img_con1 > img{
        width: 325px;
        height: 325px;
    }
    .container2{
        height: 443px;
        margin-left: 0px;
        margin-top: 7px;
        padding-top: 0px;
        width: 335px;
    }
    .sub-container1{
        background-color:#8E886D;
        padding: 10px;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
    }
    .img-con2{
        margin-left: 0;
    }
    .img-con2>img{
        width: 315px;
        height: 106px;
    }
    #container1-content{
        display: flex;
        width: 15rem;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #container1-content > div{
        width: 226px;
    }
    .sub-container2{
        display: flex;
        flex-direction: column;
    }
    .sub1{
        background-color:#916E58;
        height: 14.6rem;
        padding: 10px;
        margin-top: 9px;
        border-radius: 1rem;
        width: 316px;
    }
    .sub1>img{
        height: 100px;
        width: 100%;
    }
    .sub2{
        background-color:#B1A48E;
        height: 14.6rem;
        padding: 10px;
        margin-top: 9px;
        border-radius: 1rem;
        width: 316px;
        margin-left: 0;
    }
    .img-con3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .img-con3 img{
        height: 50px;
    }
}